@import "../base/mixins";
@import "../base/variables";

/* INDEX */

.heroSection{
    color:$text-color;
    background-color:$alternative;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 138px);
    @include flex(column, center, center);

    h1{
        font-size: 60px;
        font-family: $font-principal; 
        letter-spacing: 3.5px; 
        padding: 20px;
    }
    div{
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        a{
            font-family: $font-principal; 

            button{
                color: $lastcolor;
                @include width-height(130px, 60px);
                font-size: 12,5px;
                background-color: $secondary;
                border: 0px;
                border-radius: 7px 7px 7px 7px;
                -webkit-border-radius: 7px 7px 7px 7px;
                -moz-border-radius: 7px 7px 7px 7px;
                margin-bottom: 20px;
                transition: all 1.5s;
                &:hover{
                    @include width-height(130px, 60px);
                    font-size: 12,5px;
                    background-color: $primary;
                    color: $text-color;
                    border-radius: 7px 7px 7px 7px;
                    -webkit-border-radius: 7px 7px 7px 7px;
                    -moz-border-radius: 7px 7px 7px 7px;
                    border: 3px solid $text-color;
                }            
            }
        }
    }
}

/* Seccion 2 - Index */

.heroSectionCard{
    @include flex(row, center, center);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primary;
    @include width-height(100%, 400px);
    column-gap: 15px;
    overflow: hidden;


    .heroSectionCard1{
        display: flex;
        flex-direction: column;
        position: relative;

        img{
            @include width-height(300px, 300px); 
            object-fit: cover;
            position:relative;
            padding: 10px; 
            border-radius: 16px 16px 16px 16px;
            -webkit-border-radius: 16px 16px 16px 16px;
            -moz-border-radius: 16px 16px 16px 16px; 
            opacity: 0.6; 
            transition: opacity 1s;

            &:hover{
                opacity: 0.9;
            }
        }

        a{
            position: absolute;
            bottom: 10%;
            padding: 10px;
            color: $text-color;
            text-align: center; 
            opacity: 1; 
            transition: opacity 1s; 
            text-decoration: none;
        }
    }
}

.heroSectionCard{
    .heroSectionCard2{
        display: flex;
        flex-direction: column;
        position: relative;

        img{
            @include width-height(300px, 300px); 
            object-fit: cover;
            position:relative;
            padding: 10px; 
            border-radius: 16px 16px 16px 16px;
            -webkit-border-radius: 16px 16px 16px 16px;
            -moz-border-radius: 16px 16px 16px 16px; 
            opacity: 0.6; 
            transition: opacity 1s;

            &:hover{
                opacity: 0.9;
            }
        }

        a{
            position: absolute;
            bottom: 14%;
            padding: 14px;
            color: $text-color;
            text-align: center;
            opacity: 1; 
            transition: opacity 1s; 
            text-decoration: none;
        }
    }
}

.heroSectionCard{
    .heroSectionCard3{
        display: flex;
        flex-direction: column;
        position: relative;

        img{
            @include width-height(300px, 300px); 
            object-fit: cover;
            position:relative;
            padding: 10px; 
            border-radius: 16px 16px 16px 16px;
            -webkit-border-radius: 16px 16px 16px 16px;
            -moz-border-radius: 16px 16px 16px 16px; 
            opacity: 0.6; 
            transition: opacity 1s;

            &:hover{
                opacity: 0.9;
            }
        }

        a{
            position: absolute;
            bottom: 13%;
            padding: 15px;
            color: $text-color;
            text-align: center;
            opacity: 1; 
            transition: opacity 1s;
            text-decoration: none;
        }
    }
}


/* Seccion 3 - Index */

.sectionTres{

    background-color: $lastcolor;
    color: $text-color;
    @include flex(row, center, center);
    padding: 20px;
    @include width-height(100%, 200px);

    h4{
        letter-spacing: 0.5px;
        text-align: center;
        line-height: 25px;
        font-size: 18px;
    }
}

/* FIN INDEX */


/* NOTICIAS */

.noticiasSection{
    background-color: $primary;

    h1{
        background-color: $lastcolor;
        color: $text-color;
        font-size: 60px;
        font-style: bold 700;
        letter-spacing: 3.5px; 
        padding: 20px;
        text-align: center;
    }
    .noticiasCard1{
        @include flex(row, center, center);
        max-width: 100%;
        max-height: 400px;
        gap: 30px;

        img{
            @include width-height(500px, 300px);
            object-fit: cover;
            border-radius: 7px;
            margin: 20px 20px;
            transition: all 0.5s ease-in;

            &:hover{
                opacity: 0.7;
            }
        }
        a{
            text-align: end;
            text-decoration: none;
            font-size: 20px;
            color: $text-color;
            letter-spacing: 1.5px;
            transition: all 1s ease-in-out;
            
            &:hover{
                color: $secondary;
            }
        }
    }
}

.noticiasSection{
    .noticiasCard2{
        @include flex(row, center, center);
        max-width: 100%;
        max-height: 400px;
        gap: 90px;
        margin: 0px;
        background-color: $lastcolor;

        img{
            @include width-height(500px, 300px);
            object-fit: cover;
            border-radius: 7px;
            margin: 20px 20px;
            transition: all 0.5s ease-in;

            &:hover{
                opacity: 0.7;
            }
        }

        a{
            text-align: end;
            text-decoration: none;
            font-size: 20px;
            color: $text-color;
            letter-spacing: 1.5px;
            transition: all 1s ease-in-out;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.noticiasSection{
    .noticiasCard3{
        @include flex(row, center, center);
        max-width: 100%;
        max-height: 400px;
        gap: 64px;
        margin: 0px;

        img{
            @include width-height(500px, 300px);
            object-fit: cover;
            border-radius: 7px;
            margin: 20px 20px;
            transition: all 0.5s ease-in;

            &:hover{
                opacity: 0.7;
            }
        }

        a{
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            color: $text-color;
            letter-spacing: 1.5px;
            transition: all 1s ease-in-out;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.noticiasSection{
    .noticiasCard4{
        @include flex(row, center, center);
        max-width: 100%;
        max-height: 400px;
        gap: 99px;
        margin: 0px;
        background-color: $lastcolor;    

        img{
            @include width-height(500px, 300px);
            object-fit: cover;
            border-radius: 7px;
            margin: 20px 20px;
            transition: all 0.5s ease-in;

            &:hover{
                opacity: 0.7;
            }
        }

        a{
            text-align: end;
            text-decoration: none;
            font-size: 20px;
            color: $text-color;
            letter-spacing: 1.5px;
            transition: all 1s ease-in-out;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.noticiasSection{
    .noticiasCard5{
        @include flex(row, center, center);
        max-width: 100%;
        max-height: 400px;
        gap: 83px;
        margin: 0px;    

        img{
            @include width-height(500px, 300px);
            object-fit: cover;
            border-radius: 7px;
            margin: 20px 20px;
            transition: all 0.5s ease-in;

            &:hover{
                opacity: 0.7;
            }
        }

        a{
            text-align: start;
            text-decoration: none;
            font-size: 20px;
            color: $text-color; 
            gap: 30px;
            letter-spacing: 1.5px;
            transition: all 1s ease-in-out;

            &:hover{
                color: $secondary;
            }
        }
    }
}


/* FIN NOTICIAS */


/*  STREAMING  */

.seccionStreamingUno{
    .seccionStreamingTitulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 2200px;
        height: 150px;
        background-color: $lastcolor; 

        h1{
            text-align: center;
            color: $text-color;
            letter-spacing: 1.5px;
            font-size: 60px;
        }
    }
}

.seccionStreamingDos{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 600px;
    background-color: $primary; 
    column-gap: 80px;

    .streamingCardUno{
        @include flex(column, center, center);
        color: $text-color;
        padding-left: 40px;
        flex-shrink: 2;

        img{
            display: flex;
            max-width: 550px;
            height: 350px;  
            object-fit: cover;
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
            flex-shrink: 4;
            opacity: 0.7;
            transition: opacity 0.5s;

            &:hover{
                opacity: 2;
            }
        }
        .streamingCardParrafo{
            text-align: center;
            background-color: $alternative;
            font-family: $font-principal;
            font-size: 20px;
            flex-shrink: 2;
            letter-spacing: 1.5px;
            transition: color 0.5s;
            
            &:hover{
                color: $secondary;
            }
        }
    }
}

.seccionStreamingDos{
    .streamingCardDos{
        @include flex(column, center, center);
        padding-right: 40px;
        color: $text-color;
        flex-shrink: 2;   
        
        img{
            display: flex;
            max-width: 550px;
            height: 350px;  
            object-fit: cover;
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
            flex-shrink: 4;
            opacity: 0.7;
            transition: opacity 0.5s;

            &:hover{
                opacity: 2;
            }        
        }
        .streamingCardParrafo{
            text-align: center;
            background-color: $alternative;
            font-family: $font-principal; 
            font-size: 20px;  
            flex-shrink: 2; 
            letter-spacing: 1.5px;
            transition: color 0.5s;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.seccionStreamingDos{
    .streamingCardTres{
        @include flex(column, center, center);
        padding-left: 40px;
        color: $text-color;
        flex-shrink: 2;

        img{
            display: flex;
            max-width: 550px;
            height: 350px;  
            object-fit: cover;
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
            flex-shrink: 4;
            opacity: 0.7;
            transition: opacity 0.5s;
            
            &:hover{
                opacity: 2;
            } 
        }
        .streamingCardParrafo{
            text-align: center;
            background-color: $alternative;
            font-family: $font-principal;
            font-size: 20px; 
            flex-shrink: 2;
            letter-spacing: 1.5px;
            transition: color 0.5s; 
        }

        &:hover{
            color: $secondary;
        }
    }
}

.seccionStreamingDos{
    .streamingCardCuatro{
        @include flex(column, center, center);
        padding-right: 40px;
        color: $text-color;
        flex-shrink: 2;

        img{
            display: flex;
            max-width: 550px;
            height: 350px;  
            object-fit: cover;
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
            flex-shrink: 4;
            opacity: 0.7;
            transition: opacity 0.5s;
            
            &:hover{
                opacity: 2;
            } 
        }
        .streamingCardParrafo{
            text-align: center;
            background-color: $alternative;
            font-family: $font-principal; 
            font-size: 20px;
            flex-shrink: 2;
            letter-spacing: 1.5px;
            transition: color 0.5s;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.seccionStreamingDos{
    .streamingCardCinco{
        @include flex(column, center, center);
        padding-left: 40px;
        color: $text-color;
        flex-shrink: 2; 

        img{
            display: flex;
            max-width: 550px;
            height: 350px;  
            object-fit: cover;
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
            flex-shrink: 4;
            opacity: 0.7;
            transition: opacity 0.5s;

            &:hover{
                opacity: 2;
            }
        }
        .streamingCardParrafo{
            text-align: center;
            background-color: $alternative;
            font-family: $font-principal;
            font-size: 20px;
            flex-shrink: 2;
            letter-spacing: 1.5px;
            transition: color 0.5s;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.seccionStreamingDos{
    .streamingCardSeis{
        @include flex(column, center, center);
        padding-right: 40px;
        color: $text-color;

        img{
            display: flex;
            max-width: 550px;
            height: 350px;  
            object-fit: cover;
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
            flex-shrink: 4;
            opacity: 0.7;
            transition: opacity 0.5s; 

            &:hover{
                opacity: 2;
            }
        }
        .streamingCardParrafo{
            text-align: center;
            background-color: $alternative;
            font-family: $font-principal;
            font-size: 20px;
            flex-shrink: 2;
            letter-spacing: 1.5px;
            transition: color 0.5s;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.seccionStreamingTres{
    max-width: 2200px;
    text-align: center;
    position: relative;

    .seccionStreamingTresCard{
        @include flex (row, space-around, center);
        background-color: $alternative;
        @include width-height(100%, 700px);
        column-gap: 20px;
        padding-right: 50px; 

        h2{
            @include flex(row, center, center);
            padding: 10px;
            color: $text-color;
            font-size: 60px;
            letter-spacing: 1.5px;        
        }
        
    }
}

.seccionStreamingTres{
    .seccionStreamingTresCardIframe{
        display:flex;
        flex-direction: row;
        align-items: center;
        @include width-height(800px, 600px);
        flex-shrink: 4;
    
        iframe{
            width: 450px;
            height: 300px;
            margin: 20px;
            @include borderradius(10px 10px 10px 10px, 10px 10px 10px 10px, 10px 10px 10px 10px);
            opacity: 0.6;
            transition: opacity 0.5s; 
            
            &:hover{
                opacity: 2;
            }
        }
    }
}

/* FIN - STREAMING  */


/* JUEGOS */

.juegosSeccion{
    background-color: $lastcolor;

    h1{
        text-align: center;
        background-color: $lastcolor;
        color: $text-color;
        font-size: 60px;
        font-style: bold 700;
        letter-spacing: 3,5px; 
        padding: 20px;
        text-align: center; 
    }
    h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 50px;
        background-color: $primary;
        color: $text-color;
    }
    
    .juegosSeccionContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 2fr);
        background-color: $text-color;
        color: $primary;
    }
}





.juegosSeccion{
    .juegosSeccionContainer{
        .juegosItems1{
            @include flex(column, center, center);
            gap: 20px;
            padding: 40px 40px;
        
            img{
                @include width-height(500px, 350px);
                object-fit:cover;
                padding: 10px;
                @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
                opacity: 0.9;
                transition: all 0.5s;
                
                &:hover{
                    opacity: 1;
                    }
                }
            }
        .juegosItemsCard1{
            @include flex(column, center, start);
            gap: 20px;
            flex-shrink: 2; 
    
            p{
                text-align: center;
                padding-right: 50px; 
                }
            }
    }
}


.juegosSeccion{
    .juegosSeccionContainer{
        .juegosItems2{
            @include flex(column, center, center);
            gap: 20px;
            padding: 40px 40px;
            background-color: $primary;
            color: $text-color;

            img{
                @include width-height(500px, 350px);
                object-fit: cover;
                padding: 10px;
                @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px); 
                opacity: 0.7;
                transition: all 0.5s;

                &:hover{
                    opacity: 1;
                }
            }
        }
        .juegosItemsCard2{
            @include flex(column, center, start);
            gap: 20px;
            flex-shrink: 2;
            background-color: $primary;
            color: $text-color;

            p{
                text-align: center;
                padding-right: 50px;
            }
        }
    }
}

.juegosSeccion{
    .juegosSeccionContainer{
        .juegosItems3{
            @include flex(column, center, center);
            gap: 20px;
            padding: 40px 40px;

            img{
                @include width-height(500px, 350px);
                object-fit: cover;
                padding: 10px;
                margin-top: auto;
                @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
                opacity: 0.9;
                transition: all 0.5s;

                &:hover{
                    opacity: 1;
                }
            }
        }
        .juegosItemsCard3{
            @include flex(column, center, start);
            gap: 20px;
            flex-shrink: 2;

            p{
                text-align: center;
                padding-right: 50px;
            }
        }
    }
}

.juegosSeccion{
    .juegosSeccionContainer{
        .juegosItems4{
            @include flex(column, center, center);
            gap: 20px;
            padding: 40px 40px;
            background-color: $primary;
            color: $text-color;

            img{
                @include width-height(500px, 350px);
                object-fit: cover;
                padding: 10px;
                @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
                opacity: 0.7;
                transition: all 0.5s;


                &:hover{
                    opacity: 1;
                }
            }
        }
        .juegosItemsCard4{
            @include flex(column, center, start);
            gap: 20px;
            flex-shrink: 2;
            background-color: $primary;
            color: $text-color;

            p{
                text-align: center;
                padding-right: 50px;
            }
        }
    }
}

.juegosSeccionContainer2{
    @include flex(column, center, center);
    background-color: $lastcolor;
    max-width: 1900px;
    height: 500px;

    h3{
        text-align: center;
        padding: 30px 10px;
        color: $text-color;
    }
    iframe{
        display: flex;
        flex-shrink: 4;
        @include width-height(560px, 315px);
        opacity: 0.7;
        transition: all 0.5s ease;

        &:hover{
            opacity: 1;
            @include width-height(570px, 325px);
        }
    }
}

/* Fin - JUEGOS */


/* CONTACTO */

.formularioSeccion{
    color: $text-color;
    background-color: $alternative; 

    h1{
        font-size: 60px;
        font-style: bold 700;
        letter-spacing: 3.5px; 
        padding: 20px;
        text-align: center;
        background-color: $alternative;
    }

    .formularioSeccionCard{
        @include flex(row, center, center);
        background-color: $primary;
        column-gap: 100px;
        height: 1200px;
    }
}

.formularioSeccion{
    .formularioSeccionCard{
        .formularioContenedor{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-shrink: 4;
            background-color: $alternative;
            @include width-height(550px, 700px);
            @include borderradius(10px 10px 10px 10px, 10px 10px 10px 10px, 10px 10px 10px 10px);
        }
        .iframeFormulario{
            @include width-height(550px, 400px);
            @include borderradius(16px 16px 16px 16px, 16px 16px 16px 16px, 16px 16px 16px 16px);
        }
    }
}


.formularioContenedor{
    
    .form-control{
        margin-top: 25px;
        margin-left: 20px;
        padding: 20px;
        padding-left: 20px;
        width: 500px;
        font-size: 18px;
        color: $alternative;
    }

    .form-control-textarea{
        margin-top: 25px;
        margin-left: 20px;
        padding: 20px;
        padding-left: 20px;
        width: 500px;
        font-size: 18px;
        color: $alternative;
    }

    .form-label{
        margin-top: 25px;
        margin-left: 25px;
        color: $secondary;
    }
}

.formularioContenedor{
    .botonFormulario{
        padding: 30px;
        margin-left: auto;

        button{
            @include width-height(100px, 60px);
            @include borderradius(7px 7px 7px 7px, 7px 7px 7px 7px, 7px 7px 7px 7px);
            background-color: $secondary;
            color: $lastcolor; 
        }
    }

}